rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que o Google Forms / Apps Script envie transações diretamente
    match /transactions/{txId} {
      allow read, write, create: if true;
    }

    match /shopping_items/{itemId} {
      allow read, write, create: if true;
    }

    match /shopping_tags/{tagId} {
      allow read, write, create: if true;
    }

    match /cards/{cardId} {
      allow read, write, create: if true;
    }

    match /bot_settings/{settingId} {
      allow read, write, create: if true;
    }
    
    match /{document=**} {
      allow read, write, create: if true;
    }
  }
}
